################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
/.vs/BankFiap/v17/.suo
/.vs/BankFiap/FileContentIndex/2b5011c5-48ac-40ac-ac1d-d6cf3d17e5d6.vsidx
/.vs/BankFiap/FileContentIndex/87f9e1a0-3f21-46a1-9976-59eddb76c28f.vsidx
/.vs/BankFiap/FileContentIndex/99ef8a80-8a04-45a7-b437-6f6d19d0c9e7.vsidx
/.vs/BankFiap/FileContentIndex/e31afb64-eb39-42c2-85e5-5b730fc892e2.vsidx
/.vs/BankFiap/config/applicationhost.config
/.vs/BankFiap/FileContentIndex/60c1f9f1-39d8-45d7-970c-c40f8f45f3fc.vsidx
/.vs/BankFiap/FileContentIndex/c3367791-e2fa-4a77-8f38-d8af32d89c73.vsidx
/.vs/BankFiap/FileContentIndex/d4af131d-1755-4021-b5a1-28051d4f65c6.vsidx
/.vs/BankFiap/FileContentIndex/d81e7910-66b2-4aef-a537-3f37c7eac08d.vsidx
/Bank/bin/Debug/net7.0/Bank.deps.json
/Bank/bin/Debug/net7.0/Bank.dll
/Bank/bin/Debug/net7.0/Bank.exe
/Bank/bin/Debug/net7.0/Bank.pdb
/Bank/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Bank/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/Bank/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Bank/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/Bank/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/Bank/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Bank/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/Bank/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/Bank/Bank.csproj.user
/Bank/obj/Debug/net7.0/ref/Bank.dll
/Bank/obj/Debug/net7.0/refint/Bank.dll
/Bank/obj/Bank.csproj.nuget.dgspec.json
/Bank/obj/Bank.csproj.nuget.g.props
/Bank/obj/Debug/net7.0/apphost.exe
/Bank/obj/Debug/net7.0/Bank.assets.cache
/Bank/obj/Debug/net7.0/Bank.csproj.AssemblyReference.cache
/Bank/obj/Debug/net7.0/Bank.csproj.CoreCompileInputs.cache
/Bank/obj/Debug/net7.0/Bank.csproj.FileListAbsolute.txt
/Bank/obj/Debug/net7.0/Bank.dll
/Bank/obj/Debug/net7.0/Bank.GeneratedMSBuildEditorConfig.editorconfig
/Bank/obj/Debug/net7.0/Bank.genruntimeconfig.cache
/Bank/obj/Debug/net7.0/Bank.MvcApplicationPartsAssemblyInfo.cs
/Bank/obj/Debug/net7.0/Bank.pdb
/Bank/obj/project.assets.json
/Bank/obj/project.nuget.cache
/.vs/BankFiap/FileContentIndex/3d020c42-8cdd-4b55-bfb8-96bc50b3c014.vsidx
/.vs/BankFiap/FileContentIndex/986d3a6d-f8f6-45dc-9ea9-30f9723668e3.vsidx
/.vs/BankFiap/FileContentIndex/2e3d2ba8-ff77-44e7-b463-3176f315edc2.vsidx
/.vs/BankFiap/FileContentIndex/2f347abe-cf0d-4b1d-a107-e08e0c827e67.vsidx
/.vs/BankFiap/FileContentIndex/539138be-64f5-410e-b513-07c7ef880d67.vsidx
/.vs/BankFiap/FileContentIndex/658ffbce-d43a-4092-96d7-0ef0e91e52b8.vsidx
*.vsidx
/.vs/BankFiap/DesignTimeBuild/.dtbcache.v2
/.vs/BankFiap/v17/.futdcache.v2
/.vs/ProjectEvaluation/bankfiap.metadata.v7.bin
/.vs/ProjectEvaluation/bankfiap.projects.v7.bin
/.vs/VSWorkspaceState.json
/Bank/bin/Debug/net7.0/RabbitMQ.Client.dll
